<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--footer-->
  <div class="footer">
    <strong>
      <a href="pag2.html">Acerca de Mi/ </a>
      <a href="pag2.html">Experiencia/ </a>
      <a href="pag2.html">Educación/ </a>
      <a href="pag2.html">Hard & Skills/ </a>
      <a href="pag2.html">Proyectos/ </a> 
      <a href="pag2.html">Contacto</a> 
    </strong>
  </div>
</body>
</html>
