.link{
    text-decoration-line:none ;
    color:rgb(243, 237, 237) ;
    
}
.error{
    color:red
  }
  
  .border-danger{
    border-color: red;
  }
  #todo{
    background-color: rgba(0, 0, 0, 0.616);
    color: white;
  }
  .botones{
    margin-left: 35%;
  }
  #boton4{
    margin-left: 5%;
  }
  #close{
    background-color: rgba(255, 255, 255, 0.886);
  }