
  <div class="modal fade" id="loginModal" tabindex="-1"  aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
      <div class="modal-content" id="todo">
        <div class="modal-header">
          <h5 class="modal-title">Iniciar Secion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
          <div class="modal-body">
            <form [formGroup]="form"  (ngSubmit)="onEnviar($event)"> 
            <div>
              <label for="email">Email: </label>                          
              <input type="email" formControlName="email">
            </div>
            <div *ngIf="Mail?.errors  && Mail?.touched">    
              <p *ngIf="Mail?.hasError('required')" class="error">
                El email es requerido.
              </p>
              <p *ngIf="Mail?.hasError('email')" class="error">
              El formato del email debe ser válido.
             </p>
            </div>

         <br/>
        <div>
          <label for="exampleInputPassword1" class="form-label">Password: </label>
          <input type="password" formControlName="password" [class.border-danger]="MailValid">
         </div>
    <!-- Gracias al getter que configuramos en el controlador -->
      <div *ngIf="Password?.errors  && Password?.touched">
        <p *ngIf="Password?.hasError('required')" class="error">
        El password es requerido.
       </p>
      <!-- <p *ngIf="Password?.errors?.minlength" class="error">
        El password debe ser de 8 o más caracteres,contener letras o numeros y no debe contener espacios, caracteres especiales o emojis.
       </p>
       <p *ngIf="Password?.errors?.maxlength" class="error">
          El password debe tener como maximo 20 caracteres.
       </p>-->
      </div>
      <br/>
       <div class="botones">
        
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        
        <button type="submit" class="btn btn-primary" id="boton4"><a class="link" href="pag2.html">Iniciar Sesion</a></button>
        
        </div>
      </form>

    </div>
    
    </div>
    </div>
  </div>
    


