
<section class="educacion">
  <app-back></app-back>
    <h1>Educación</h1>
  <div class="row align-items-start">
    <div class="col"> 
      <app-lapiz-imagen></app-lapiz-imagen>
      <embed src="./../../../assets/img/argentina_programa_febrero_abril_2022.pdf" type="application/pdf" width="100%" height="420px" />
     </div>
    <div class="col">
      <app-lapiz-texto></app-lapiz-texto>
      <app-borrar></app-borrar>
      <p>Certificacion de la primera parte de Argentina Programa.
      </p>
    </div>
  </div>
  <div class="row align-items-start" id="titulo">
    <div class="col">
      <app-lapiz-imagen></app-lapiz-imagen>
      <embed src="./../../../assets/img/analitico.pdf" type="application/pdf" width="400px" height="500px" />
     
      
    </div>
    <div class="col">
      <app-lapiz-texto></app-lapiz-texto>
      <app-borrar></app-borrar>
      <p>Titulo Secundario, me gradue en 2020 obtuve el titulo de Bachiller En Economia y Administracion en el Colegio Carlos Pellegrini en la ciudad de Juan Maria Gutierrez, Berazategui de la provincia de Buenos Aires, Republica Argentina.
      </p> 
    </div>
  </div>
</section>

