
<section class="proyectil">
  <app-back></app-back>
    <h1>Proyectos</h1>
  <div class="row align-items-start">
    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
      <app-lapiz-texto></app-lapiz-texto>
      <app-borrar></app-borrar>
      <div class="card" *ngFor="let proyectos of proyectos">
        <app-lapiz-imagen></app-lapiz-imagen>
        <img [src]="proyectos.imagen" class="card-img-top" href="proyecto.link" >
        <div class="card-body">
          <h5 class="card-title">{{proyectos.nombre}}</h5>
          <p class="card-text">{{proyectos.descripcion}}</p>
          <a href="proyecto.link" class="btn btn-primary">Go </a>
        </div>
      </div>
    </div>
  </div>
</section>
