
<section id="menu" class="paginaPrincipal">
    <app-header></app-header>
    <app-lapiz-imagen></app-lapiz-imagen>
   
    
    <div id="principal">
       <app-lapiz-texto></app-lapiz-texto>
    
        <div class="row align-items-start" >
            <div class="col">
                <h2><strong>Martina</strong>
                <br><strong class="apellido">Colombo</strong></h2>
                <p>Desarrolladora Full Stack Developer Jr </p>
            </div>
        </div>
    </div>
    <app-footer></app-footer>

</section>

