<section class="c">
  <app-back></app-back>
    <div class="contactos">
        <h1>Contacto</h1>
        <div class="row align-items-start">
          <div class="col">
            <img class="foto" [src]="imagen.tatu" alt="logo">
          </div>
          <div class="col" *ngFor="let redes of redes">
            <div class="col">
              <a [href]="redes.link" class="btn btn-none" target="_blank" tabindex="-1" role="button" aria-disabled="true"><i class={{redes.icono}}></i>{{redes.nombre}}</a>
           </div>
          </div>
        </div>
      </div>
    </section>

