<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="c">
    <div class="contactos">
        <h1>Contacto</h1>
        <div class="row align-items-start">
          <div class="col">
            <img class="foto" src="./../../../assets/img/tatu.jpg" alt="logo">
          </div>
          <div class="col">
            <a href="mailto:martinanataliacolombo@gmail.com" class="btn btn-light"target="_blank" tabindex="-1" role="button" aria-disabled="true"><i class="fa-solid fa-envelopes-bulk"></i> Correo Electronico</a>
            <a href="https://github.com/Martinacolomboo" class="btn btn-light"target="_blank" tabindex="-1" role="button" aria-disabled="true"><i class="fa-brands fa-github"></i> GitHub</a>
          </div>
        </div>
      </div>
</body>
</html>
