<section class="c">
  <app-back></app-back>
    <div class="contactos">
        <h1>Contacto</h1>
        <div class="row align-items-start">
          <div class="col">
            <img class="foto" src="./../../../assets/img/tatu.JPG" alt="logo">
          </div>
          <div class="col">
            <a href="mailto:martinanataliacolombo@gmail.com" class="btn btn-light"target="_blank" tabindex="-1" role="button" aria-disabled="true"><i class="fa-solid fa-envelopes-bulk"></i> Correo Electronico</a>
            <a href="https://github.com/Martinacolomboo" class="btn btn-light"target="_blank" tabindex="-1" role="button" aria-disabled="true"><i class="fa-brands fa-github"></i> GitHub</a>
          </div>
        </div>
      </div>
    </section>

