/*para todos los titulos de la pagina 2*/
h1{
    font-size: 60px;
    margin-top: 2px;
    margin-bottom: 12%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    color:rgb(251, 246, 246);
    font-family: "opean Sans Bold";
    text-shadow: 
        -1px -1px 0 rgb(55, 255, 20),
        1px -1px 0 rgba(31, 14, 209, 0.988),
        -1px 1px 0 rgba(31, 14, 209, 0.988);
    
}
/*posicion de las columnas*/
#texto{
    margin-left: 5%;
    text-align: center;
    width: 400px;
}
/*posicion de los parrafos*/
p{
    font-size: 20px;
    text-align: center;
    margin-left: 10%;
   font-family: "Open Sans";
   width: 80%;
   
}
/*posicion de los titulos h2*/
h2{
    margin-left: 10%;
    font-family: "Open Sans";
}

/*botones de editar o eliminar*/
#boton1{
    margin-top: -20px;
    margin-left: 28px;
    position: absolute;
    margin-bottom: -5%;
}
/*los botones q tienen el link del insta*/
#boton2{
    
    margin-top: -25px;
    margin-left: 18px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.758);
}


/*imagenes de los docks*/
.proyecto{
    height: 400px;
    width: 250px;
    border-radius: 7%;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    
}



.ex{
    background-color: transparent;
    background-image: url(./../../../assets/img/fondo2.png);
    background-repeat: no-repeat;  
    background-size: cover; 
    background-attachment: fixed;
    color: black; 
    width: 100%;  
    
   padding: 20px;
}
