
<section class="ex">
  <div class="color">
  <app-back></app-back>
    <h1 class="titulo">Experiencia</h1>
    <div id="experiencia" class="row align-items-start" *ngFor="let ex of experiencias">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <span id="boton1"><app-lapiz-imagen></app-lapiz-imagen></span>
        
        <a [href]="ex.link" target="_blank"><img class="proyecto" [src]="ex.imagen1" alt="proyecto"></a>
        <button type="button" class="btn btn-light" id="boton2"><a [href]="ex.link" target="_blank"><i class="fa-brands fa-instagram"></i></a></button>
        <a [href]="ex.link" target="_blank"><img class="proyecto" [src]="ex.imagen2" alt="proyecto"></a>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="texto"> 
        <app-lapiz-texto></app-lapiz-texto>
        <app-borrar></app-borrar>
        <p>{{ex.texto}}</p>
       
      </div>
    </div></div>
  </section>
