
<section class="ex">
  <app-back></app-back>
    <h1>Experiencia</h1>
    <div id="experiencia" class="row align-items-start">
      <div class="col"> 
        <app-lapiz-imagen></app-lapiz-imagen>
        
        <a href="https://www.instagram.com/miradasinfinitas20/" target="_blank"><img class="proyecto" src="./../../../assets/img/IMG_3984.jpg" alt="proyecto"></a>
        <button type="button" class="btn btn-light" id="botoninst"><a href="https://www.instagram.com/miradasinfinitas20/" target="_blank"><i class="fa-brands fa-instagram"></i></a></button>
        <a href="https://www.instagram.com/miradasinfinitas20/" target="_blank"><img class="proyecto" src="./../../../assets/img/IMG_3985.jpg" alt="proyecto"></a>
        <button type="button" class="btn btn-light" id="botoninst"><a href="https://www.instagram.com/miradasinfinitas20/" target="_blank"><i class="fa-brands fa-instagram"></i></a></button>   
      </div>
      <div class="col"> 
        <app-lapiz-texto></app-lapiz-texto>
        <app-borrar></app-borrar>
        <p>En 2020 empece a crear estos apoya celulares "docks", cada uno de estos tenian un detalle personalizado. Me encargue de lo que seria el armado de cada uno y tambien de la
          la venta y distribución.  
        </p>
      </div>
    </div>
  </section>
