<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="ex">
    <h1>Experiencia</h1>
    <div id="experiencia" class="row align-items-start">
      <div class="col"> 
       <!--boton para cambiar imagen-->
        <button type="button" class="btn btn-none" id="boton1" data-bs-toggle="modal" data-bs-target="#loginImagenModal">
          <i class="fa-solid fa-pen"></i>
        </button>
        <!--modal abajo-->
        <a href="https://www.instagram.com/miradasinfinitas20/" target="_blank"><img class="proyecto" src="./../../../assets/img/IMG_3984.jpg" alt="proyecto"></a>
        <button type="button" class="btn btn-light" id="botoninst"><a href="https://www.instagram.com/miradasinfinitas20/" target="_blank"><i class="fa-brands fa-instagram"></i></a></button>
        <a href="https://www.instagram.com/miradasinfinitas20/" target="_blank"><img class="proyecto" src="./../../../assets/img/IMG_3985.jpg" alt="proyecto"></a>
        <button type="button" class="btn btn-light" id="botoninst"><a href="https://www.instagram.com/miradasinfinitas20/" target="_blank"><i class="fa-brands fa-instagram"></i></a></button>   
      </div>
      <div class="col"> 
        <!--boton para cambiar texto-->
        <button type="button" class="btn btn-none" id="boton3"data-bs-toggle="modal" data-bs-target="#loginEscritoModal">
          <i class="fa-solid fa-pen"></i>
          <!--modal abajo-->
        </button>
        <!--boton para eliminar-->
        <button type="button" class="btn btn-none" id="boton4">
          <i class="fa-solid fa-circle-xmark"></i>
        </button>
        <p>En 2020 empece a crear estos apoya celulares "docks", cada uno de estos tenian un detalle personalizado. Me encargue de lo que seria el armado de cada uno y tambien de la
          la venta y distribución.  
        </p>
      </div>
    </div>
</body>
</html>