/*<style> @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap'); </style>
body{
    background-color: rgb(244, 237, 237);
    font-family: "Open Sans",sans-serif;
    
}
*,::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
