<section id="navbar">
    <nav class="navbar navbar-expand-lg data-bs-target">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar" target="_blank"><img class="logoAp" src="assets/img/APLogo-20-20.png" alt="logo-argentina-programa"></a>
        <img class="logo-mio" src="assets/img/tatu.JPG" alt="logo">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a href="https://github.com/Martinacolomboo" class="btn btn-dark"target="_blank" tabindex="-1" role="button" aria-disabled="true"><i class="fa-brands fa-github"></i></a>
          <div class="dropdown"> 
            <button class="btn btn-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </button>
           <ul class="dropdown-menu">
              <li><button class="dropdown-item" type="button" routerLink="/menu">Menu</button></li>
              <li><a routerLink="/sobre-mi"><button class="dropdown-item" type="button">Sobre Mi</button></a> </li>
              <li><a routerLink="/experiencia"><button class="dropdown-item" type="button">Experiencia</button></a> </li>
              <li><a routerLink="/educacion"><button class="dropdown-item" type="button">Educacion</button></a> </li>
              <li><a routerLink="/skills"><button class="dropdown-item" type="button">Hard & skills</button></a> </li>
              <li><a routerLink="/proyectos"><button class="dropdown-item" type="button">Proyectos</button></a> </li>
              <li><a routerLink="/contactos"><button class="dropdown-item" type="button">Contactos</button></a> </li>
            </ul>
            <app-log-in></app-log-in>
          </div>
        </div>
      </div>
    </nav>
  </section>
