

<section id="sobre-mi"class="sobre-mi">
  <app-back></app-back>
  <h1 >Acerca de Mi</h1>
  
  <div class="row align-items-start" *ngFor="let datos of sobremi">
    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
      <span id="boton1"><app-lapiz-imagen></app-lapiz-imagen></span>
      <img class="imag" [src]="datos.fotomia" alt="martinacolombo">
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2" id="texto">
     <app-lapiz-texto></app-lapiz-texto>
      <h2>{{datos.nombre}}</h2>
      <app-lapiz-texto></app-lapiz-texto>
      <!--boton para eliminar-->
      <app-borrar></app-borrar>
      <p>{{datos.descripcion}}</p>
    </div>
  </div>
</section>
