

<section id="sobre-mi"class="sobre-mi">
  <app-back></app-back>
  <h1 >Acerca de Mi</h1>
  <div class="row align-items-start" >
    <div class="col">
      <app-lapiz-imagen></app-lapiz-imagen>
      <img class="imag" src="assets/img/2.jpg" alt="martinacolombo">
    </div>
    <div class="col">
      <app-lapiz-texto></app-lapiz-texto>
      <h2>Martina Colombo</h2>
      <app-lapiz-texto></app-lapiz-texto>
      <!--boton para eliminar-->
      <app-borrar></app-borrar>
      <p>Tengo 19 años, soy de Buenos Aires, Argentina y me encuentro cursando la segunda etapa de Argentina Programa.
        Soy estudiante de la Universidad Nacional De La Plata en la sede de Informatica, estoy en mi segundo año de la carrera de Licenciatura en Sistemas.
      </p>
    </div>
  </div>
</section>
