
<section class="soft">
  <app-back></app-back>
    <h1>Hard & Soft Skills</h1>
  <div class="hard">
    <app-lapiz-texto></app-lapiz-texto>
    <app-borrar></app-borrar>
    <h3>Habilidades:</h3>
    <div *ngFor="let hab of skills">
      <p>{{hab.nombre}}</p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width:{{hab.porcentaje}}%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <h3>Lenguajes:</h3>
    <app-lapiz-texto></app-lapiz-texto>
    <app-borrar></app-borrar>
    <div *ngFor="let leng of lenguajes">
      <p>{{leng.nombre}}</p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{leng.porcentaje}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</section>
